@use 'sass:map';

$font-config: (
    'titulo': (family: ('Montserrat', sans-serif),
        weight: 700,
        style: normal),
    'texto': (family: ('Open Sans', sans-serif),
        weight: 400,
        style: normal)
);

@mixin font($type) {
    $config: map.get($font-config, $type);

    font-family: map.get($config, family);
    font-weight: map.get($config, weight);
    font-style: map.get($config, style);
}