/* You can add global styles to this file, and also import other style files */
@use 'styles/mixins' as *;


@import "@fontsource/bakbak-one";
@import "@fontsource/bakbak-one/400.css";
@import "@fontsource-variable/roboto";
@import "@fontsource-variable/roboto/wght.css";
@import "@fontsource-variable/roboto/wght-italic.css";

app-root {
    overflow-x: hidden;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.title {
    @include font('title');
}

.subtitle {
    @include font('subtitle');
    font-weight: 300;
}

.content {
    @include font('content');
    font-weight: 300;
}

.arrow-link {
    text-decoration: none;
    color: #0D6EFD;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;

    &::after {
        content: '→';
        font-size: 1.2em;
        transition: transform 0.2s ease;
    }

    &:hover::after {
        transform: translateX(3px);
    }
}

.form-content {
    display: flex;
    flex-direction: column;
    //gap: 10px;

    label {
        //border: 1px solid red;
        width: 100%;
        margin-bottom: 8px;
        color: #1E2124;
    }

    input {
        //border: 1px solid red;
        width: 100%;
        min-height: 46px;
        border-radius: 10px;
        padding: 0px 10px;
        margin-bottom: 16px;
        border: 1px solid #EBEBEB;
    }

}