<app-header></app-header>
<div class="row">
    <div class="col-md-12 ofertas-detalle">
        <div class="header">
            <h1 class="title">Ofertas</h1>
            <div class="filter-container">
                <h2 class="content">Explora los servicios que tu comunidad está ofreciendo</h2>
            </div>
        </div>

        <div class="row back-link">
            <a href="/ofertas" class="arrow-link-back mb-4 d-inline-block"
                >Volver al listado de Ofertas</a
            >
        </div>
        <div class="row content-list-detail">
            <div class="col-12 col-md-12 list-item-img">
                @if (oferta?.ruta_img) {
                    <img [src]="oferta?.ruta_img" alt="Oferta" />
                } @else {
                    <img src="assets/img/ofertas.png" alt="Oferta" />
                }
            </div>
            <div class="col-12 col-md-12 list-item-content">
                <h3 class="item-title">{{ oferta?.titulo }}</h3>
                <p class="item-transaccion">
                    Transacción:
                    <span><i class="bi bi-clock me-1"></i>{{ oferta?.horas_estimadas }}h</span>
                </p>

                <p class="item-content">
                    {{ oferta?.descripcion }}
                </p>

                @if (oferta?.usuario_id != usuario?.id) {
                    <div class="btn-group">
                        <app-button
                            label="Aceptar Oferta"
                            [class]="'btn btn-primary me-1'"
                            (click)="aceptarOferta()"
                        ></app-button>
                        <app-button
                            label="Contactar"
                            [class]="'btn btn-outline-primary'"
                            (click)="openContactarModal()"
                        ></app-button>
                    </div>
                }
            </div>

            <div class="col-12 detalles">
                <h2>Detalles</h2>

                <ul>
                    <li>
                        <strong>Voluntario</strong>: {{ oferta?.usuario?.nombre }}
                        {{ oferta?.usuario?.apellido }}
                    </li>
                    <li>
                        <strong>Valoraciones</strong>:
                        @for (
                            star of [].constructor(Math.round(oferta?.usuario?.valoracion || 0));
                            track $index
                        ) {
                            <i class="bi bi-star-fill text-warning"></i>
                        }

                        @for (
                            star of [].constructor(
                                5 - Math.round(oferta?.usuario?.valoracion || 0)
                            );
                            track $index
                        ) {
                            <i class="bi bi-star text-warning"></i>
                        }

                        <span class="ms-2 text-muted"
                            >({{ oferta?.usuario?.valoracion | number: '1.1-1' }})</span
                        >
                    </li>
                    <li><strong>Categoría</strong>: {{ oferta?.categoria?.nombre }}</li>
                    <li><strong>Provincia</strong>: {{ oferta?.provincia_relacion?.nombre }}</li>
                    <li><strong>Localidad</strong>: {{ oferta?.ciudad_relacion?.nombre }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-modal
    [isOpen]="isAceptarModalOpen"
    [title]="'Aceptar Oferta'"
    (closeModal)="closeAceptarModal()"
>
    <!-- Contenido del modal Aceptar -->
    <p>Has aceptado la oferta</p>
    <button class="btn btn-primary" (click)="finalizarYAceptar()">Cerrar</button>
</app-modal>

<app-modal
    [isOpen]="isContactarModalOpen"
    [title]="'Contactar'"
    (closeModal)="closeContactarModal()"
>
    <!-- Contenido del modal Contactar -->
    <p>Contenido para Contactar...</p>
    <textarea
        class="form-control mb-2"
        rows="3"
        placeholder="Escribe tu mensaje..."
        [(ngModel)]="nuevoMensaje"
    ></textarea>
    <button class="btn btn-primary" (click)="enviarMensaje()">Enviar</button>
</app-modal>

<app-footer></app-footer>
