@use 'styles/variables' as *;

// Contenedor principal de la página de registro
.registro-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 65px 50px 65px;
}

// Introducción al formulario
.intro {
    padding-right: 65px;
}
.terminos {
    color: #000;
    font-weight: 400;
}

// Formulario de registro (columna izquierda/superior)
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

// Imagen decorativa del registro (columna derecha)
.registro-img {
    background-image: url('/assets/img/registro.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 50vh;

    @media (min-width: $breakpoint-md) {
        min-height: 60vh;
    }

    @media (min-width: $breakpoint-lg) {
        min-height: 734px;
    }
}

@media (max-width: 991px) {
    .registro-content {
        flex-direction: column;
        padding: 35px;
    }

    .intro {
        padding-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-content {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .registro-content {
        padding: 20px 45px;
    }
}
