@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.header {
    width: 100%;
}

// Contenedor principal del perfil de usuario
.perfil-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $page-padding-desktop;

    @media (max-width: $breakpoint-max-lg) {
        padding: $page-padding-tablet;
    }

    @media (max-width: $breakpoint-max-md) {
        padding: $page-padding-mobile;
    }
}

// Distribución del contenido del perfil
.form-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 0;

    @media (max-width: $breakpoint-max-md) {
        .pagination {
            justify-content: center !important;
        }
    }
}

// Listado de mensajes en el perfil
.mensaje-list {
    ul {
        margin-bottom: 0;
        width: 100%;
    }
}

.pagination {
    margin-top: 20px;
}

.list-item-content {
    .item-title {
        font-weight: bold;
        color: black;
    }

    .item-transaccion {
        color: $color-primary;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Bakbak One', cursive;
    }
}
