@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.header {
    width: 100%;
}

// Contenedor principal del perfil de usuario
.perfil-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 65px 50px 65px;
}

// Distribución del contenido del perfil
.form-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 0;
}

// Imagen de fondo de la sección de perfil
.perfil-img {
    background-image: url('/assets/img/perfil.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 734px;
    background-size: cover;
}

@media (max-width: 991px) {
    .perfil-content {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .perfil-content {
        padding: 15px;
    }

    .pagination {
        justify-content: center !important;
    }
}

// Listado de mensajes en el perfil
.mensaje-list {
    ul {
        margin-bottom: 0;
        width: 100%;
    }
}

.pagination {
    margin-top: 20px;
}

.list-item-content {
    .item-title {
        font-weight: bold;
        color: black;
    }

    .item-transaccion {
        color: $color-primary;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Bakbak One', cursive;
    }
}
