<app-header></app-header>
<div class="row">
    <div class="col-md-12 perfil-content">
        <div class="header">
            <h1 class="title">Mi Perfil</h1>
            <div class="filter-container"></div>
        </div>

        <div class="row content-list-detail form-content">
            <div class="list-item-img col-12 col-md-6 mb-4 mb-md-0">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                    type="text"
                    id="nombre"
                    name="nombre"
                    class="form-control mb-3"
                    [value]="usuario?.nombre"
                    readonly
                />

                <label for="apellidos" class="form-label">Apellidos</label>
                <input
                    type="text"
                    id="apellidos"
                    name="apellidos"
                    class="form-control mb-3"
                    [value]="usuario?.apellido"
                    readonly
                />

                <label class="form-label">Provincia</label>
                <select
                    name="provincia"
                    [(ngModel)]="provincia"
                    (ngModelChange)="onProvinciaChange($event)"
                    class="form-select mb-3"
                >
                    <option [ngValue]="null" disabled>Selecciona provincia</option>
                    @for (p of provincias; track p.id) {
                        <option [ngValue]="p.id">{{ p.nombre }}</option>
                    }
                </select>

                <label class="form-label">Ciudad</label>
                <select
                    name="ciudad"
                    [(ngModel)]="ciudad"
                    [disabled]="!provincia"
                    class="form-select mb-3"
                >
                    <option [ngValue]="null" disabled>Selecciona población</option>
                    @for (p of poblaciones; track p.id) {
                        <option [ngValue]="p.id">{{ p.nombre }}</option>
                    }
                </select>

                <label for="email" class="form-label">Correo electrónico</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control mb-3"
                    [value]="usuario?.email"
                    readonly
                />

                <label for="direccion" class="form-label">Dirección</label>
                <input
                    type="text"
                    id="direccion"
                    name="direccion"
                    class="form-control mb-3"
                    [value]="usuario?.direccion"
                    [(ngModel)]="direccion"
                />

                <label for="imagen-perfil" class="form-label">Imagen de Perfil</label>
                <div class="mb-3 mt-3">
                    <input
                        type="file"
                        id="imagen-perfil"
                        name="imagen-perfil"
                        class="d-none"
                        (change)="onFileSelected($event)"
                    />
                    <label for="imagen-perfil" class="btn btn-outline-secondary">
                        <i class="bi bi-upload me-2"></i> Subir Imagen
                    </label>
                </div>

                <button type="submit" class="btn btn-primary w-100" (click)="modificarPerfil()">
                    Modificar
                </button>

                <hr />

                <p class="password-change">Cambiar Contraseña</p>
                <label for="password" class="form-label">Nueva Contraseña</label>
                <input
                    type="password"
                    id="password1"
                    name="password1"
                    class="form-control mb-3"
                    [(ngModel)]="password1"
                    placeholder="La contraseña debe ser diferente a la actual"
                />

                <label for="password2" class="form-label">Confirmar Nueva Contraseña</label>
                <input
                    type="password"
                    id="password2"
                    name="password2"
                    class="form-control mb-3"
                    [(ngModel)]="password2"
                />

                <button type="submit" class="btn btn-primary w-100" (click)="cambiarPassword()">
                    Modificar
                </button>
            </div>

            <div class="list-item-content col-md-6">
                <h3 class="item-title">Historial</h3>
                <p class="item-transaccion">Ofertas</p>

                <div class="row list-item mensaje-list">
                    @for (oferta of ofertasPaginadas; track oferta.id) {
                        <ul class="list-item-content">
                            <li>{{ oferta.created_at | date: 'dd/MM/yyyy' }}</li>
                            <li>{{ oferta.titulo }}</li>
                            <li>Horas a recibir: {{ oferta.horas_estimadas }}</li>
                            <li>
                                @switch (oferta.estado) {
                                    @case ('activo') {
                                        <span class="badge bg-success-subtle text-success"
                                            >Activo</span
                                        >
                                    }
                                    @case ('en_proceso') {
                                        <span class="badge bg-warning-subtle text-warning"
                                            >En Curso</span
                                        >
                                    }
                                    @case ('finalizado') {
                                        <span class="badge bg-warning-subtle">Finalizado</span>
                                    }
                                    @case ('cancelado') {
                                        <span class="badge bg-danger-subtle text-danger"
                                            >Cancelado</span
                                        >
                                    }
                                }
                            </li>
                            @if (oferta.estado === 'activo') {
                                <div class="btn-group-actions ms-3">
                                    <button
                                        class="btn-icon btn-icon-primary"
                                        [routerLink]="['/actualizar', oferta.id]"
                                        title="Actualizar"
                                    >
                                        <i class="bi bi-pencil"></i> Actualizar
                                    </button>
                                    <button
                                        class="btn-icon btn-icon-danger"
                                        (click)="cancelar(oferta.id)"
                                        title="Cancelar"
                                    >
                                        <i class="bi bi-x-circle"></i> Cancelar
                                    </button>
                                </div>
                            }
                        </ul>
                    }
                </div>

                <nav aria-label="Navegación de páginas">
                    <ul class="pagination justify-content-end">
                        <li class="page-item" [class.disabled]="p_actual === 1">
                            <a
                                class="page-link"
                                (click)="p_actual = p_actual - 1"
                                style="cursor: pointer"
                                >Anterior</a
                            >
                        </li>

                        @for (pagina of totalPaginasOfertas; track pagina) {
                            <li class="page-item" [class.active]="p_actual === pagina">
                                <a
                                    class="page-link"
                                    (click)="p_actual = pagina"
                                    style="cursor: pointer"
                                    >{{ pagina }}</a
                                >
                            </li>
                        }

                        <li
                            class="page-item"
                            [class.disabled]="p_actual === totalPaginasOfertas.length"
                        >
                            <a
                                class="page-link"
                                (click)="p_actual = p_actual + 1"
                                style="cursor: pointer"
                                >Siguiente</a
                            >
                        </li>
                    </ul>
                </nav>

                <hr />
                <p class="item-transaccion">Demandas</p>
                <div class="row list-item mensaje-list">
                    @for (demanda of demandasPaginadas; track demanda.id) {
                        <ul class="list-item-content">
                            <li>{{ demanda.created_at | date: 'dd/MM/yyyy' }}</li>
                            <li>{{ demanda.titulo }}</li>
                            <li>Horas a entregar: {{ demanda.horas_estimadas }}</li>
                            <li>
                                @switch (demanda.estado) {
                                    @case ('activo') {
                                        <span class="badge bg-success-subtle text-success"
                                            >Activo</span
                                        >
                                    }
                                    @case ('en_proceso') {
                                        <span class="badge bg-warning-subtle text-warning"
                                            >En Curso</span
                                        >
                                    }
                                    @case ('finalizado') {
                                        <span class="badge bg-warning-subtle">Finalizado</span>
                                    }
                                    @case ('cancelado') {
                                        <span class="badge bg-danger-subtle text-danger"
                                            >Cancelado</span
                                        >
                                    }
                                }
                            </li>
                            @if (demanda.estado === 'activo') {
                                <div class="btn-group-actions ms-3">
                                    <button
                                        class="btn-icon btn-icon-primary"
                                        [routerLink]="['/actualizar', demanda.id]"
                                        title="Actualizar"
                                    >
                                        <i class="bi bi-pencil"></i> Actualizar
                                    </button>
                                    <button
                                        class="btn-icon btn-icon-danger"
                                        (click)="cancelar(demanda.id)"
                                        title="Cancelar"
                                    >
                                        <i class="bi bi-x-circle"></i> Cancelar
                                    </button>
                                </div>
                            }
                        </ul>
                    }
                </div>

                <nav aria-label="Navegación de páginas">
                    <ul class="pagination justify-content-end">
                        <li class="page-item" [class.disabled]="p_actual === 1">
                            <a
                                class="page-link"
                                (click)="p_actual = p_actual - 1"
                                style="cursor: pointer"
                                >Anterior</a
                            >
                        </li>

                        @for (pagina of totalPaginasDemandas; track pagina) {
                            <li class="page-item" [class.active]="p_actual === pagina">
                                <a
                                    class="page-link"
                                    (click)="p_actual = pagina"
                                    style="cursor: pointer"
                                    >{{ pagina }}</a
                                >
                            </li>
                        }

                        <li
                            class="page-item"
                            [class.disabled]="p_actual === totalPaginasDemandas.length"
                        >
                            <a
                                class="page-link"
                                (click)="p_actual = p_actual + 1"
                                style="cursor: pointer"
                                >Siguiente</a
                            >
                        </li>
                    </ul>
                </nav>

                <hr />

                <p class="item-transaccion">Transacciones</p>

                <div class="row list-item mensaje-list">
                    @for (transaccion of transaccionesPaginadas; track transaccion.id) {
                        <ul
                            class="list-item-content"
                            [routerLink]="['/transaccion-detalle', transaccion.id]"
                            style="cursor: pointer"
                        >
                            <li>{{ transaccion.created_at | date: 'dd/MM/yyyy' }}</li>
                            <li>{{ transaccion.servicio?.titulo }}</li>
                            <li>Horas: {{ transaccion.servicio?.horas_estimadas }}</li>
                            <li>
                                @switch (transaccion.estado) {
                                    @case ('pendiente') {
                                        <span class="badge bg-primary-subtle text-primary"
                                            >En Curso</span
                                        >
                                    }
                                    @case ('confirmado') {
                                        <span class="badge bg-warning-subtle text-success"
                                            >Confirmado</span
                                        >
                                    }
                                    @case ('cancelado') {
                                        <span class="badge bg-danger-subtle text-danger"
                                            >Rechazado</span
                                        >
                                    }
                                }
                            </li>
                            @if (
                                transaccion.estado === 'pendiente' &&
                                transaccion.usuario_ofertante_id === usuario?.id
                            ) {
                                <button
                                    class="btn-icon btn-icon-danger"
                                    (click)="rechazar(transaccion.id); $event.stopPropagation()"
                                    title="Rechazar"
                                >
                                    <i class="bi bi-x-circle"></i> Rechazar
                                </button>
                            }
                        </ul>
                    }
                </div>

                <nav aria-label="Navegación de páginas">
                    <ul class="pagination justify-content-end">
                        <li class="page-item" [class.disabled]="p_actual === 1">
                            <a
                                class="page-link"
                                (click)="p_actual = p_actual - 1"
                                style="cursor: pointer"
                                >Anterior</a
                            >
                        </li>

                        @for (pagina of totalPaginasTransaccion; track pagina) {
                            <li class="page-item" [class.active]="p_actual === pagina">
                                <a
                                    class="page-link"
                                    (click)="p_actual = pagina"
                                    style="cursor: pointer"
                                    >{{ pagina }}</a
                                >
                            </li>
                        }

                        <li
                            class="page-item"
                            [class.disabled]="p_actual === totalPaginasTransaccion.length"
                        >
                            <a
                                class="page-link"
                                (click)="p_actual = p_actual + 1"
                                style="cursor: pointer"
                                >Siguiente</a
                            >
                        </li>
                    </ul>
                </nav>

                <hr />
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
