:host(.header) {
    background-image: url('/assets/img/bg-header.png');
    background-position: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 110px;
    padding: 20px 20px 20px;
    @media (min-width: 992px) {
        padding: 20px 50px 50px;
        min-height: 130px;
    }
}
