:host(.header) {
    background: url('/assets/img/bg-header.png') white;
    background-position: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 110px;
    padding: 20px 20px 20px;
    @media (min-width: 992px) {
        padding: 20px 50px 50px;
        min-height: 130px;
    }

    @media (max-width: 991px) {
        position: fixed;
        top: 0;
        left: 0; // Ensure it anchors to the left
        z-index: 1020;
    }
}
