<app-header></app-header>
<div class="row">
    <div class="col-md-12 demandas">
        <div class="header">
            <h1 class="title">Demandas</h1>
            <div class="filter-container">
                <h2 class="content">Explora los servicios que tu comunidad está demandando</h2>
                <div class="filtro-button">
                    <span>Filtrar</span>
                    <button class="btn btn-primary btn-sm rounded-circle" (click)="toggleFiltro()">
                        <i class="bi bi-filter"></i>
                    </button>
                </div>
            </div>
            <div class="filtro" *ngIf="mostrarFiltro">
                <select class="form-select" aria-label="Categoría" name="categoria" [(ngModel)]="categoria" (ngModelChange)="onCategoriaChange($event)">
                    <option [ngValue]="null">Categoría</option>
                    @for (categoria of categorias; track categoria.id) {
                        <option [value]="categoria.id">{{ categoria.nombre }}</option>
                    }
                </select>
                <select class="form-select" aria-label="Provincia" name="provincia" [(ngModel)]="provincia" (ngModelChange)="onProvinciaChange($event)">
                    <option [ngValue]="null">Provincia</option>
                    @for (provincia of provincias; track provincia.id) {
                        <option [value]="provincia.id">{{ provincia.nombre }}</option>
                    }
                </select>
                <select class="form-select" aria-label="Localidad" name="ciudad" [(ngModel)]="poblacion" [disabled]="!provincia" (ngModelChange)="onPoblacionChange($event)">
                    <option [ngValue]="null">Localidad</option>                
                    @for (poblacion of poblaciones; track poblacion.id) {
                        <option [value]="poblacion.id">{{ poblacion.nombre }}</option>
                    }
                </select>                
                <input type="text" class="form-control" placeholder="Buscar por título" [(ngModel)]="tituloFilter" (ngModelChange)="filterDemandas()">                
            </div>
        </div>
        <div class="content-list">
            @for (oferta of demandasPaginadas; track oferta.id) {
                <div class="row list-item">
                    <div class="col-3 list-item-img">
                        <img src="/assets/img/ofertas.png" alt="Oferta">
                    </div>
                    <div class="col-9 list-item-content">
                        <h3 class="item-title"> <a routerLink="/ofertasdetalle">{{oferta.titulo}}<span><i
                                        class="bi bi-clock me-1"></i>{{oferta.horas_estimadas}}</span></a></h3>
                        <p class="item-tag">{{oferta.categoria.nombre}}</p>

                        <p class="item-content">{{oferta.descripcion}}</p>

                        <span class="badge bg-primary">{{oferta.ciudad_relacion.nombre}}</span>

                    </div>
                </div>
            }
        </div>
        <!-- Paginación -->
        @if (demandasFiltradas.length > numDemandas) {
            <nav aria-label="Navegación de páginas">
                <ul class="pagination justify-content-end">
                    <li class="page-item" [class.disabled]="pagActual === 1">
                        <a class="page-link" style="cursor: pointer !important;" (click)="cambiarPagina(pagActual - 1)">Anterior</a>
                    </li>
                    @for(page of [].constructor(totalPages); track $index; let i = $index){
                        <li class="page-item" [class.active]="pagActual === (i + 1)">
                            <a class="page-link" style="cursor: pointer !important;" (click)="cambiarPagina(i + 1)">
                                {{ i + 1 }}
                            </a>
                        </li>
                    }
                    <li class="page-item" [class.disabled]="pagActual === totalPages">
                        <a class="page-link" style="cursor: pointer !important;" (click)="cambiarPagina(pagActual + 1)">Siguiente</a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>
<app-footer></app-footer>




            