.acceso-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /*justify-content: space-between;
    align-items: center;
    height: 100vh;*/
    padding: 20px 65px 50px 65px;
    //border: 1px solid red;
}

.intro {
    padding-right: 65px;
    // border: 1px solid blue;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.acceso-img {
    background-image: url('/assets/img/registro.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 734px;
}

@media (max-width: 992px) {
    .acceso-content {
        flex-direction: column;
        padding: 20px;
    }

    .intro {
        padding-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-content {
        width: 100%;
    }

    .acceso-img {
        display: none; // Hide image on mobile for better focus
    }
}
