.acceso-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /*justify-content: space-between;
    align-items: center;
    height: 100vh;*/
    padding: 50px 65px 50px 65px;
    //border: 1px solid red;


}

.intro {
    padding-right: 65px;
    // border: 1px solid blue;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.acceso-img {
    background-image: url('/assets/img/registro.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 734px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  padding-right: 2.5rem; // espacio para el ojo
}

.password-icon {
  position: absolute;
  right: 0.75rem;
  top: 0;
  bottom: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #6c757d;
}

