<app-header></app-header>
<div class="row">
    <div class="col-md-12 crear-oferta">
        <div class="header">
            <h1 class="title">Crear Oferta</h1>
            <div class="filter-container"></div>
        </div>

        <form class="row content-list-detail form-content" #formOferta="ngForm" (ngSubmit)="publicarOferta()">

            <div class=" list-item-img">
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" #campoTitulo="ngModel" required>
                 @if (campoTitulo.touched && titulo.trim() === '') {
                    <span style="display: block; color: red;">El campo Título no puede estar vacío</span>
                }
                <select class="form-select" aria-label="Categoría" name="categoria" [(ngModel)]="categoria">
                        <option [ngValue]="null">Categoría</option>
                        @for (categoria of categorias; track categoria.id) {
                            <option [value]="categoria.id">{{ categoria.nombre }}</option>
                        }
                </select>
                <select class="form-select" aria-label="Provincia" name="provincia" [(ngModel)]="provincia" (ngModelChange)="onProvinciaChange($event)">
                    <option [ngValue]="null">Provincia</option>
                    @for (provincia of provincias; track provincia.id) {
                        <option [value]="provincia.id">{{ provincia.nombre }}</option>
                    }
                </select>
                <select class="form-select" aria-label="Localidad" name="ciudad" [(ngModel)]="poblacion" [disabled]="!provincia">
                    <option [ngValue]="null">Localidad</option>                
                    @for (poblacion of poblaciones; track poblacion.id) {
                        <option [value]="poblacion.id">{{ poblacion.nombre }}</option>
                    }
                </select>                
            </div>

            <div class=" list-item-content">
                <label for="transaccion">Transacción</label>
                <div class="transaccion-input">
                    <input type="text" id="transaccion" name="transaccion">
                    <button>-</button><button>+</button>
                </div>

                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion" [(ngModel)]="descripcion"></textarea>

                <!-- <label for="direccion">Imagen</label>
                <input type="file" id="direccion" name="direccion"> -->

                <button type="submit" [class]="'btn btn-primary w-100'" [disabled]="!formOferta.form.valid">
                    Crear Oferta
                </button>
            </div>

        </form>

    </div>

</div>

<app-footer></app-footer>