.btn-menu {
    background-color: #D3F0F9;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;

    &.btn-link {
        text-decoration: underline;
        background: transparent;
        padding: 8px 4px;
    }

    &.btn-close {
        background-color: white;
        /* Inverts to black */
        filter: invert(1);
        opacity: 1;
        padding: 0.5rem;

        border-radius: 50%;
        box-sizing: content-box;
    }


    i {
        margin-right: 8px;
        font-size: 16px;
    }
}