<app-header></app-header>
<div class="row">
    <div class="col-md-6 home-img"></div>
    <div class="col-md-6 home-content">
        <h1>Intercambia Tiempo, Construye Comunidad</h1>
        <p>Una plataforma solidaria donde <strong>tu tiempo vale</strong>. Ofrece tus habilidades y recibe ayuda de tu
            comunidad.</p>
        <div class="btn-group">
            <app-button label="Registrarse" routerLink="/registro" [class]="'btn btn-primary'"></app-button>
            <app-button label="Acceder" routerLink="/acceso" [class]="'btn btn-outline-primary'"></app-button>
        </div>
    </div>

</div>
<app-footer></app-footer>