.ofertas {
    padding: 50px 65px;

    @media (max-width: 768px) {
        padding: 20px 45px;
    }
}

h3 a {
    text-decoration: none;
    color: black;
}

.list-item-img {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
