<nav class="menu">
    @if (!isInfoPage) {
        <button class="hamburger-btn" (click)="toggleMenu()">
            <i class="bi" [class.bi-list]="!isMenuOpen" [class.bi-x-lg]="isMenuOpen"></i>
        </button>
    }

    @if (isPublic) {
        <ul class="menu-container" [class.mobile-open]="isMenuOpen">
            <li>
                <app-button
                    [class]="'btn-menu'"
                    label="Quiénes somos"
                    routerLink="/quienes-somos"
                ></app-button>
            </li>
        </ul>
    } @else if (isInfoPage) {
    } @else {
        <ul class="menu-container" [class.mobile-open]="isMenuOpen">
            <li class="showdesktop">
                <div class="dropdown">
                    <button
                        class="dropdown-button dropdown-toggle"
                        type="button"
                        (click)="toggleDropdown()"
                        [attr.aria-expanded]="dropdownOpen"
                    >
                        CREAR
                    </button>
                    <ul class="dropdown-menu" [class.show]="dropdownOpen">
                        <li>
                            <a class="dropdown-item" routerLink="/crearoferta" role="button">
                                Oferta
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/demandas" role="button">
                                Demanda
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="showmobile haschild">
                <ul class="crearmobile">
                    <li>
                        <app-button
                            [class]="'btn-menu'"
                            label="Crear Ofertas"
                            routerLink="/crearoferta"
                        ></app-button>
                    </li>
                    <li>
                        <app-button
                            [class]="'btn-menu'"
                            label="Crear Demandas"
                            routerLink="/crearoferta"
                        ></app-button>
                    </li>
                </ul>
            </li>
            <li>
                <app-button [class]="'btn-menu'" label="Ofertas" routerLink="/ofertas"></app-button>
            </li>
            <li>
                <app-button
                    [class]="'btn-menu'"
                    label="Demandas"
                    routerLink="/demandas"
                ></app-button>
            </li>
            <li class="showdesktop">
                <span class="bolsa-horas"
                    ><i class="bi bi-clock"></i>{{ usuario?.horas_saldo }}</span
                >
            </li>
            <li class="showdesktop">
                <div class="contenedor-perfil">
                    <div class="avatar-perfil" (click)="toggleMenuPerfil()">
                        @if (usuario?.ruta_img) {
                            <img
                                [src]="usuario?.ruta_img"
                                alt="User Avatar"
                                class="imagen-avatar"
                            />
                        } @else {
                            <img
                                src="assets/img/perfil.png"
                                alt="Generic Avatar"
                                class="imagen-avatar"
                            />
                        }
                    </div>
                    <ul class="menu-desplegable-perfil" [class.show]="menuPerfilAbierto">
                        <li>
                            <a class="dropdown-item" routerLink="/perfil">
                                <i class="bi bi-person"></i> Perfil
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item item-mensajes" routerLink="/mensajes">
                                <i class="bi bi-chat-dots"></i> Mensajes
                                @if (mensajesNoLeidos > 0) {
                                    <span class="badge">{{ mensajesNoLeidos }}</span>
                                }
                            </a>
                        </li>
                        <hr class="dropdown-divider" />
                        <li>
                            <a
                                class="dropdown-item item-cerrar-sesion"
                                (click)="logout()"
                                role="button"
                            >
                                <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="showmobile">
                <app-button
                    [class]="'btn-menu btn-link btn-perfil'"
                    label="Perfil"
                    routerLink="/perfil"
                    icon="bi bi-person"
                ></app-button>
            </li>
            <li class="showmobile">
                <app-button
                    [class]="'btn-menu btn-link btn-mensajes'"
                    label="Mensajes"
                    routerLink="/mensajes"
                    icon="bi bi-chat-dots"
                ></app-button>
            </li>
            <li class="showmobile">
                <app-button
                    [class]="'btn-menu btn-close btn-cerrar'"
                    label="Cerrar Sesión"
                    routerLink="/logout"
                    icon="bi bi-x-lg"
                    (click)="logout()"
                ></app-button>
            </li>
        </ul>
    }
</nav>
